In [8]:
import pandas as pd
import json
import torch
import numpy as np

In [2]:
objects = pd.read_json('./objects.json')

In [3]:
with open("../labels.json","r") as f:
    encodings = json.loads(f.read())

In [4]:
objects.shape

(108077, 2)

In [6]:
ms_coco_labels = ['person',
'bicycle',
'car',
'motorcycle',
'airplane',
'bus',
'train',
'truck',
'boat',
'traffic light',
'fire hydrant',
'stop sign',
'parking meter',
'bench',
'bird',
'cat',
'dog',
'horse',
'sheep',
'cow',
'elephant',
'bear',
'zebra',
'giraffe',
'backpack',
'umbrella',
'handbag',
'tie',
'suitcase',
'frisbee',
'skis',
'snowboard',
'sports ball',
'kite',
'baseball bat',
'baseball glove',
'skateboard',
'surfboard',
'tennis racket',
'bottle',
'wine glass',
'cup',
'fork',
'knife',
'spoon',
'bowl',
'banana',
'apple',
'sandwich',
'orange',
'broccoli',
'carrot',
'hot dog',
'pizza',
'donut',
'cake',
'chair',
'couch',
'potted plant',
'bed',
'dining table',
'toilet',
'tv',
'laptop',
'mouse',
'remote',
'keyboard',
'cell phone',
'microwave',
'oven',
'toaster',
'sink',
'refrigerator',
'book',
'clock',
'vase',
'scissors',
'teddy bear',
'hair drier',
'toothbrush']

In [7]:
df_final = pd.DataFrame(columns=['image_id', 'object_names', 'object_ids'])
object_set = set({})
hh_object_set = set(encodings)
ms_coco_set = set(ms_coco_labels)

In [9]:
for index, row in objects.iterrows():
    if index % 1000 == 0:
        print(index)
    row_df = pd.DataFrame(row['objects'])
# #     row_df.drop(['h', 'synsets', 'w', 'x', 'y'], inplace=True, axis=1)
# #     print(row_df.columns)
    if 'names' in row_df.columns:
        row_set = set([])
        for _, item in row_df['names'].iteritems():
            row_set.add(item[0])
        
        ms_coco_obj = row_set.intersection(ms_coco_set)
        if len(ms_coco_obj) > 0:
            object_ids = []
            for obj in ms_coco_obj:
                object_ids.append(ms_coco_labels.index(obj))
            df_final = df_final.append([{'image_id': row['image_id'], 'object_names': list(ms_coco_obj), 'object_ids': object_ids}])

df_final.reset_index(inplace=True, drop=True)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000

In [12]:
print(df_final.head())

  image_id                 object_names    object_ids
0        1  [parking meter, clock, car]   [12, 74, 2]
1        2              [backpack, car]       [24, 2]
2        3            [keyboard, mouse]      [66, 64]
3        4   [chair, couch, teddy bear]  [56, 57, 77]
4        5            [chair, keyboard]      [56, 66]

In [13]:
df_final.to_csv('./visual_genome_ann.csv', index=False)

In [16]:
label_enc_dict = {label: index for index, label in enumerate(ms_coco_labels)}
print(label_enc_dict)

{'person': 0, 'bicycle': 1, 'car': 2, 'motorcycle': 3, 'airplane': 4, 'bus': 5, 'train': 6, 'truck': 7, 'boat': 8, 'traffic light': 9, 'fire hydrant': 10, 'stop sign': 11, 'parking meter': 12, 'bench': 13, 'bird': 14, 'cat': 15, 'dog': 16, 'horse': 17, 'sheep': 18, 'cow': 19, 'elephant': 20, 'bear': 21, 'zebra': 22, 'giraffe': 23, 'backpack': 24, 'umbrella': 25, 'handbag': 26, 'tie': 27, 'suitcase': 28, 'frisbee': 29, 'skis': 30, 'snowboard': 31, 'sports ball': 32, 'kite': 33, 'baseball bat': 34, 'baseball glove': 35, 'skateboard': 36, 'surfboard': 37, 'tennis racket': 38, 'bottle': 39, 'wine glass': 40, 'cup': 41, 'fork': 42, 'knife': 43, 'spoon': 44, 'bowl': 45, 'banana': 46, 'apple': 47, 'sandwich': 48, 'orange': 49, 'broccoli': 50, 'carrot': 51, 'hot dog': 52, 'pizza': 53, 'donut': 54, 'cake': 55, 'chair': 56, 'couch': 57, 'potted plant': 58, 'bed': 59, 'dining table': 60, 'toilet': 61, 'tv': 62, 'laptop': 63, 'mouse': 64, 'remote': 65, 'keyboard': 66, 'cell phone': 67, 'microwave': 68, 'oven': 69, 'toaster': 70, 'sink': 71, 'refrigerator': 72, 'book': 73, 'clock': 74, 'vase': 75, 'scissors': 76, 'teddy bear': 77, 'hair drier': 78, 'toothbrush': 79}

In [17]:
label_enc_json = json.dumps(label_enc_dict)
f = open("./ms_coco_labels.json","w")
f.write(label_enc_json)
f.close()

In [2]:
visual_genome_csv = pd.read_csv('./visual_genome_ann.csv')

In [3]:
visual_genome_csv.head()

   image_id                       object_names    object_ids
0         1  ['parking meter', 'clock', 'car']   [12, 74, 2]
1         2                ['backpack', 'car']       [24, 2]
2         3              ['keyboard', 'mouse']      [66, 64]
3         4   ['chair', 'couch', 'teddy bear']  [56, 57, 77]
4         5              ['chair', 'keyboard']      [56, 66]

In [6]:
visual_genome_csv.iloc[0]

image_id                                        1
object_names    ['parking meter', 'clock', 'car']
object_ids                            [12, 74, 2]
Name: 0, dtype: object

In [9]:
msk = np.random.rand(len(visual_genome_csv)) < 0.8

In [13]:
train_vg = visual_genome_csv.iloc[msk]

In [15]:
len(train_vg)

74416

In [16]:
test_vg = visual_genome_csv[~msk]

In [17]:
msk = np.random.rand(len(train_vg)) < 0.8

In [18]:
val_vg = train_vg.iloc[~msk]

In [20]:
len(test_vg)

18600

In [21]:
train_vg = train_vg.iloc[msk]

In [22]:
len(train_vg)

59601

In [25]:
test_vg.head()

,image_id,object_names,object_ids
7,8,"['keyboard', 'cup', 'mouse', 'chair', 'book']","[66, 41, 64, 56, 73]"
8,9,"['chair', 'bottle', 'keyboard', 'book']","[56, 39, 66, 73]"
13,14,"['bottle', 'book']","[39, 73]"
17,18,"['chair', 'bottle', 'keyboard', 'mouse']","[56, 39, 66, 64]"
27,28,"['couch', 'vase', 'bowl', 'book']","[57, 75, 45, 73]"

In [26]:
train_vg.reset_index(inplace=True, drop=True)
val_vg.reset_index(inplace=True, drop=True)
test_vg.reset_index(inplace=True, drop=True)

In [28]:
train_vg.to_csv('./visual_genome_train_ann.csv', index=False)
val_vg.to_csv('./visual_genome_val_ann.csv', index=False)
test_vg.to_csv('./visual_genome_test_ann.csv', index=False)