In [2]:
import pandas as pd
import json
import torch
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
objects = pd.read_json('./objects.json')

In [3]:
with open("../labels.json","r") as f:
    encodings = json.loads(f.read())

In [4]:
objects.shape

(108077, 2)

In [6]:
ms_coco_labels = ['person',
'bicycle',
'car',
'motorcycle',
'airplane',
'bus',
'train',
'truck',
'boat',
'traffic light',
'fire hydrant',
'stop sign',
'parking meter',
'bench',
'bird',
'cat',
'dog',
'horse',
'sheep',
'cow',
'elephant',
'bear',
'zebra',
'giraffe',
'backpack',
'umbrella',
'handbag',
'tie',
'suitcase',
'frisbee',
'skis',
'snowboard',
'sports ball',
'kite',
'baseball bat',
'baseball glove',
'skateboard',
'surfboard',
'tennis racket',
'bottle',
'wine glass',
'cup',
'fork',
'knife',
'spoon',
'bowl',
'banana',
'apple',
'sandwich',
'orange',
'broccoli',
'carrot',
'hot dog',
'pizza',
'donut',
'cake',
'chair',
'couch',
'potted plant',
'bed',
'dining table',
'toilet',
'tv',
'laptop',
'mouse',
'remote',
'keyboard',
'cell phone',
'microwave',
'oven',
'toaster',
'sink',
'refrigerator',
'book',
'clock',
'vase',
'scissors',
'teddy bear',
'hair drier',
'toothbrush']

In [7]:
df_final = pd.DataFrame(columns=['image_id', 'object_names', 'object_ids'])
object_set = set({})
hh_object_set = set(encodings)
ms_coco_set = set(ms_coco_labels)

In [9]:
for index, row in objects.iterrows():
    if index % 1000 == 0:
        print(index)
    row_df = pd.DataFrame(row['objects'])
# #     row_df.drop(['h', 'synsets', 'w', 'x', 'y'], inplace=True, axis=1)
# #     print(row_df.columns)
    if 'names' in row_df.columns:
        row_set = set([])
        for _, item in row_df['names'].iteritems():
            row_set.add(item[0])
        
        ms_coco_obj = row_set.intersection(ms_coco_set)
        if len(ms_coco_obj) > 0:
            object_ids = []
            for obj in ms_coco_obj:
                object_ids.append(ms_coco_labels.index(obj))
            df_final = df_final.append([{'image_id': row['image_id'], 'object_names': list(ms_coco_obj), 'object_ids': object_ids}])

df_final.reset_index(inplace=True, drop=True)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000

In [12]:
print(df_final.head())

  image_id                 object_names    object_ids
0        1  [parking meter, clock, car]   [12, 74, 2]
1        2              [backpack, car]       [24, 2]
2        3            [keyboard, mouse]      [66, 64]
3        4   [chair, couch, teddy bear]  [56, 57, 77]
4        5            [chair, keyboard]      [56, 66]

In [13]:
df_final.to_csv('./visual_genome_ann.csv', index=False)

In [16]:
label_enc_dict = {label: index for index, label in enumerate(ms_coco_labels)}
print(label_enc_dict)

{'person': 0, 'bicycle': 1, 'car': 2, 'motorcycle': 3, 'airplane': 4, 'bus': 5, 'train': 6, 'truck': 7, 'boat': 8, 'traffic light': 9, 'fire hydrant': 10, 'stop sign': 11, 'parking meter': 12, 'bench': 13, 'bird': 14, 'cat': 15, 'dog': 16, 'horse': 17, 'sheep': 18, 'cow': 19, 'elephant': 20, 'bear': 21, 'zebra': 22, 'giraffe': 23, 'backpack': 24, 'umbrella': 25, 'handbag': 26, 'tie': 27, 'suitcase': 28, 'frisbee': 29, 'skis': 30, 'snowboard': 31, 'sports ball': 32, 'kite': 33, 'baseball bat': 34, 'baseball glove': 35, 'skateboard': 36, 'surfboard': 37, 'tennis racket': 38, 'bottle': 39, 'wine glass': 40, 'cup': 41, 'fork': 42, 'knife': 43, 'spoon': 44, 'bowl': 45, 'banana': 46, 'apple': 47, 'sandwich': 48, 'orange': 49, 'broccoli': 50, 'carrot': 51, 'hot dog': 52, 'pizza': 53, 'donut': 54, 'cake': 55, 'chair': 56, 'couch': 57, 'potted plant': 58, 'bed': 59, 'dining table': 60, 'toilet': 61, 'tv': 62, 'laptop': 63, 'mouse': 64, 'remote': 65, 'keyboard': 66, 'cell phone': 67, 'microwave': 68, 'oven': 69, 'toaster': 70, 'sink': 71, 'refrigerator': 72, 'book': 73, 'clock': 74, 'vase': 75, 'scissors': 76, 'teddy bear': 77, 'hair drier': 78, 'toothbrush': 79}

In [17]:
label_enc_json = json.dumps(label_enc_dict)
f = open("./ms_coco_labels.json","w")
f.write(label_enc_json)
f.close()

In [2]:
visual_genome_csv = pd.read_csv('./visual_genome_ann.csv')

In [3]:
visual_genome_csv.head()

   image_id                       object_names    object_ids
0         1  ['parking meter', 'clock', 'car']   [12, 74, 2]
1         2                ['backpack', 'car']       [24, 2]
2         3              ['keyboard', 'mouse']      [66, 64]
3         4   ['chair', 'couch', 'teddy bear']  [56, 57, 77]
4         5              ['chair', 'keyboard']      [56, 66]

In [6]:
visual_genome_csv.iloc[0]

image_id                                        1
object_names    ['parking meter', 'clock', 'car']
object_ids                            [12, 74, 2]
Name: 0, dtype: object

In [9]:
msk = np.random.rand(len(visual_genome_csv)) < 0.8

In [13]:
train_vg = visual_genome_csv.iloc[msk]

In [15]:
len(train_vg)

74416

In [16]:
test_vg = visual_genome_csv[~msk]

In [17]:
msk = np.random.rand(len(train_vg)) < 0.8

In [18]:
val_vg = train_vg.iloc[~msk]

In [20]:
len(test_vg)

18600

In [21]:
train_vg = train_vg.iloc[msk]

In [22]:
len(train_vg)

59601

In [25]:
test_vg.head()

,image_id,object_names,object_ids
7,8,"['keyboard', 'cup', 'mouse', 'chair', 'book']","[66, 41, 64, 56, 73]"
8,9,"['chair', 'bottle', 'keyboard', 'book']","[56, 39, 66, 73]"
13,14,"['bottle', 'book']","[39, 73]"
17,18,"['chair', 'bottle', 'keyboard', 'mouse']","[56, 39, 66, 64]"
27,28,"['couch', 'vase', 'bowl', 'book']","[57, 75, 45, 73]"

In [26]:
train_vg.reset_index(inplace=True, drop=True)
val_vg.reset_index(inplace=True, drop=True)
test_vg.reset_index(inplace=True, drop=True)

In [28]:
train_vg.to_csv('./visual_genome_train_ann.csv', index=False)
val_vg.to_csv('./visual_genome_val_ann.csv', index=False)
test_vg.to_csv('./visual_genome_test_ann.csv', index=False)

In [26]:
vg_df = pd.read_csv('visual_genome_ann.csv')

In [30]:
vg_df.head()

   image_id       object_names  object_ids
0         1  ['parking meter']          12
1         1          ['clock']          74
2         1            ['car']           2
3         2       ['backpack']          24
4         2            ['car']           2

In [28]:
json.loads(vg_df.iloc[0, 2])[0]

12

In [29]:
for index, row in vg_df.iterrows():
    vg_df.iloc[index, 2] = json.loads(vg_df.iloc[index, 2])[0]

In [35]:
vg_df.to_csv('./visual_genome_ann_final.csv', index=False)

In [40]:
vg_df.iloc[:, :-1]

        image_id       object_names
0              1  ['parking meter']
1              1          ['clock']
2              1            ['car']
3              2       ['backpack']
4              2            ['car']
5              3       ['keyboard']
6              3          ['mouse']
7              4          ['chair']
8              4          ['couch']
9              4     ['teddy bear']
10             5          ['chair']
11             5       ['keyboard']
12             6         ['bottle']
13             6           ['fork']
14             6           ['bowl']
15             6          ['chair']
16             6          ['apple']
17             7       ['keyboard']
18             7          ['mouse']
19             7          ['chair']
20             7           ['book']
21             7         ['laptop']
22             8       ['keyboard']
23             8            ['cup']
24             8          ['mouse']
25             8          ['chair']
26             8           ['book']
27             9          ['chair']
28             9         ['bottle']
29             9       ['keyboard']
...          ...                ...
174394   2417971         ['person']
174395   2417971           ['boat']
174396   2417974       ['elephant']
174397   2417975           ['cake']
174398   2417977          ['train']
174399   2417978       ['sandwich']
174400   2417978         ['bottle']
174401   2417978           ['bowl']
174402   2417979   ['refrigerator']
174403   2417980          ['train']
174404   2417981       ['airplane']
174405   2417982       ['umbrella']
174406   2417982         ['person']
174407   2417983       ['airplane']
174408   2417984         ['bottle']
174409   2417984        ['hot dog']
174410   2417985         ['person']
174411   2417985          ['train']
174412   2417986       ['elephant']
174413   2417987          ['train']
174414   2417988           ['bird']
174415   2417989           ['vase']
174416   2417990       ['umbrella']
174417   2417990          ['chair']
174418   2417992          ['train']
174419   2417993          ['horse']
174420   2417994          ['sheep']
174421   2417995          ['train']
174422   2417995            ['car']
174423   2417997            ['bus']

[174424 rows x 2 columns]

In [49]:
vg_df.groupby(['object_ids']).count().sort_values(by='image_id')

            image_id  object_names
object_ids
32                 1             1
78                 2             2
58                78            78
60                86            86
70               205           205
35               237           237
26               297           297
12               343           343
34               453           453
79               465           465
76               469           469
40               482           482
52               508           508
54               660           660
51               680           680
68               809           809
47               813           813
11               851           851
77               867           867
10               874           874
50               894           894
65               967           967
72               991           991
69              1035          1035
49              1125          1125
31              1125          1125
48              1152          1152
28              1164          1164
64              1177          1177
46              1196          1196
...              ...           ...
21              2053          2053
53              2134          2134
20              2139          2139
24              2189          2189
61              2198          2198
27              2233          2233
63              2267          2267
23              2449          2449
14              2618          2618
3               2637          2637
17              2699          2699
71              2742          2742
59              2750          2750
15              2771          2771
37              2803          2803
36              2872          2872
8               2895          2895
25              3415          3415
16              3511          3511
41              3544          3544
45              3684          3684
7               3703          3703
5               3781          3781
74              4102          4102
13              4224          4224
39              4318          4318
6               4393          4393
56              7264          7264
2               9727          9727
0              22850         22850

[80 rows x 2 columns]

In [96]:
vg_df[vg_df.object_ids == 32]

        image_id object_names  object_ids
4088        3104     ['kite']          32
6164     2415091     ['kite']          32
6349       61548     ['kite']          32
6739      150354     ['kite']          32
6791      150383     ['kite']          32
6912      150450     ['kite']          32
7096      285606     ['kite']          32
7240      285692     ['kite']          32
7285      285722     ['kite']          32
7346      285752     ['kite']          32
7410      285792     ['kite']          32
7412      285795     ['kite']          32
7427      285805     ['kite']          32
7676      285945     ['kite']          32
8167      498065     ['kite']          32
8481      498239     ['kite']          32
8774      712949     ['kite']          32
8897      713028     ['kite']          32
8909      713038     ['kite']          32
9139      713163     ['kite']          32
9155      713175     ['kite']          32
9169      713181     ['kite']          32
9172      713182     ['kite']          32
9393      713310     ['kite']          32
9432      713331     ['kite']          32
9448      713338     ['kite']          32
9671      713452     ['kite']          32
9846      713543     ['kite']          32
9894      713569     ['kite']          32
9976      713610     ['kite']          32
...          ...          ...         ...
171935   2416342     ['kite']          32
171959   2416360     ['kite']          32
172209   2416524     ['kite']          32
172218   2416528     ['kite']          32
172229   2416533     ['kite']          32
172388   2416634     ['kite']          32
172492   2416706     ['kite']          32
172562   2416751     ['kite']          32
172647   2416816     ['kite']          32
172865   2416960     ['kite']          32
172924   2417005     ['kite']          32
173108   2417128     ['kite']          32
173298   2417256     ['kite']          32
173342   2417284     ['kite']          32
173349   2417291     ['kite']          32
173390   2417314     ['kite']          32
173465   2417362     ['kite']          32
173506   2417396     ['kite']          32
173516   2417403     ['kite']          32
173598   2417454     ['kite']          32
173687   2417503     ['kite']          32
173843   2417598     ['kite']          32
173862   2417617     ['kite']          32
173981   2417702     ['kite']          32
173991   2417707     ['kite']          32
174043   2417733     ['kite']          32
174142   2417810     ['kite']          32
174160   2417825     ['kite']          32
174221   2417863     ['kite']          32
174257   2417887     ['kite']          32

[1874 rows x 3 columns]

In [59]:
vg_df.drop([165415], inplace=True)

In [61]:
vg_df.reset_index(drop=True, inplace=True)

In [62]:
vg_df.head()

   image_id       object_names  object_ids
0         1  ['parking meter']          12
1         1          ['clock']          74
2         1            ['car']           2
3         2       ['backpack']          24
4         2            ['car']           2

In [94]:
for index, row in vg_df.iterrows():
    if index % 1000 == 0:
        print(index)
    
    if vg_df.iloc[index, 2] == 79:
        vg_df.iloc[index, 2] = 77
    elif vg_df.iloc[index, 2] > 32:
        vg_df.iloc[index, 2] -= 1

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000

In [95]:
vg_df.groupby(['object_ids']).count().sort_values(by='image_id')

            image_id  object_names
object_ids
57                78            78
59                86            86
69               205           205
34               237           237
26               297           297
12               343           343
33               453           453
77               465           465
75               469           469
39               482           482
51               508           508
53               660           660
50               680           680
67               809           809
46               813           813
11               851           851
76               867           867
10               874           874
49               894           894
64               967           967
71               991           991
68              1035          1035
48              1125          1125
31              1125          1125
47              1152          1152
28              1164          1164
63              1177          1177
45              1196          1196
66              1216          1216
37              1279          1279
...              ...           ...
21              2053          2053
52              2134          2134
20              2139          2139
24              2189          2189
60              2198          2198
27              2233          2233
62              2267          2267
23              2449          2449
14              2618          2618
3               2637          2637
17              2699          2699
70              2742          2742
58              2750          2750
15              2771          2771
36              2803          2803
35              2872          2872
8               2895          2895
25              3415          3415
16              3511          3511
40              3544          3544
44              3684          3684
7               3703          3703
5               3781          3781
73              4102          4102
13              4224          4224
38              4318          4318
6               4393          4393
55              7264          7264
2               9727          9727
0              22850         22850

[78 rows x 2 columns]

In [107]:
vg_train, vg_val, vg_train_y, vg_val_y = train_test_split(vg_df.iloc[:, :-1], vg_df.object_ids, test_size=0.25, shuffle=True, stratify=vg_df.object_ids)

In [108]:
vg_train.shape
# vg_train_y.shape

(130815, 2)

In [109]:
vg_train['object_ids'] = vg_train_y

In [112]:
vg_train.head()

   image_id object_names  object_ids
0   2364781     ['bowl']          44
1   1591784      ['cup']          40
2      4943      ['tie']          27
3   2335777    ['train']           6
4   2360206      ['car']           2

In [111]:
vg_train.reset_index(drop=True, inplace=True)

In [113]:
vg_val['object_ids'] = vg_val_y
vg_val.reset_index(drop=True, inplace=True)

In [114]:
vg_train_.to_csv('./visual_genome_train_ann_final.csv', index=False)
vg_val.to_csv('./visual_genome_val_ann_final.csv', index=False)